<%- include partials/header.ejs %>

<div style="height: 93%;width: 98%;left: 1%;   opacity: .6;position: relative; top: 40px;border-radius: 20px" class="panel panel-heading">
    <h1 style="font-size: 50px;color: darkslategray"><%= title %></h1>
    <div class="panel-body" style="font-size: 22px;color: black;position: relative; top: 60px;left: 50px">
    <p>A.	Mini project on “FACE RECOGNITION”.</p>
        <p>B. Final Year Project on "Platform for pushing device oriented information into a cloud”</p>
    </p>
        <p>Objective Was To share device-oriented  information i.e battery status, missed calls, SMS and location details to cloud and retrieve that information from cloud using web application .we use existing cloud services.
        Through the cloud Information is shared among devices with an easy way to connect device-oriented information and cloud services .It is user friendly as well as more advanced.
    </p>
    </div></div>

</body>
<%- include partials/footer.ejs %>
</html>