<%- include partials/header.ejs %>

<div style="height: 93%;width: 98%;left: 1%;   opacity: .6;position: relative; top: 40px;border-radius: 20px" class="panel panel-heading">
    <h1 style="font-size: 50px;color: darkslategray"><%= title %></h1>
    <div class="panel-body" style="font-size: 22px;color: black;position: relative; top: 60px;left: 50px">
    <h1>SKILLS I OFFER:</h1>

        <p>C and Core Java</p>
        <p>Windows Xp and Unix</p>
        <p>SQL and PL/SQL</P>
    </p>
    </div></div>

</body>
<%- include partials/footer.ejs %>
</html>